name: CI workflow

on:
  pull_request:
    branches:
      - develop

jobs:
  unit-test:
    runs-on: ubuntu-latest
    name: Run Unit Test
    steps:
      - id: foo
        uses: doanxuanduyen1235/ci-cd-training/.github/quality@v4`
